<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="TestCases_Manager" verbose="1" >
 
 
  <test name="Regression1">
    <classes>
      <class name="com.testcases.manager.TS_01_LoginAndPassword">
  
      </class>
      
      
      
  </classes>
  </test>
</suite>
